/*Author Isaac */
.root{
	-fx-background-color: lightslategray;
	-fx-text-fill: lightyellow ;
}

.label{
	-fx-font-size: 12pt;
	-fx-text-fill: black;
    -fx-font-weight: bold;
}

.button{
	-fx-font-weight: bold;
	-fx-background-color: lightskyblue;
	-fx-font-size: 15pt;
}

.button:hover{
	-fx-background-color: lightcoral;
	-fx-border-color: lightblue;
 }