.root{
	-fx-background-color: orange ;
}
.label{
	-fx-font-size: 12pt;
	-fx-text-fill: black;
    -fx-font-weight: bold;
}
.button{
	-fx-background-color: darkgreen;
	-fx-font-size: 15pt;
	-fx-text-fill: ivory;
}
.button:hover{
	-fx-background-color: green;
	-fx-border-color: orangered ;
}